.wrapper {
    margin-top: 50px;
    color: #042349;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    box-shadow: 0px 0px 20px -5px gray;;
}

.left {
    display: flex;
    flex-direction: column;
    border-right: 3px solid #042349;
    padding-right: 20px;
    margin: 20px;
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-right: 60px;
    margin: 20px;
    border-right: 3px solid #042349;
}

.right {
    justify-self: center;
    text-align: center;
    margin: 20px;
    align-self: center;
}

.image {
    height: 100px;
    width: auto;
    object-fit: contain;
}

.title {
    font-size: 28px;
}

.title:before, .title:after {
    display: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtitle {
    font-size: 28px;
    font-weight: 600;
}

.item {
    font-size: 20px;
    font-weight: 500;
}

.button {
    font-size: 28px;
    font-weight: 600;
    padding: 15px;
    border: 3px solid #f59c37;
    background: #e0f9ff;
    border-radius: 20px;
}


@media screen and (max-width: 1000px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .left {
        border: none;
        margin: 5vw;
        padding: 0;
    }

    .middle {
        border: none;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 10px;
        margin-bottom: 10px;
    }

    .right {
        flex-direction: column;
    }

    .title {
        font-size: 6vw;
    }

    .subtitle {
        font-size: 6vw;
        font-weight: bold;
    }

    .item {
        font-size: 4.5vw;
    }

}

