.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    color: #042349;
    min-height: 100vh;
    margin: 50px 100px 0px 100px;
}

.mainTitle {
    margin-top: 50px;
}

.mainTitle:before, .mainTitle:after {
    display: none;
}

.mainSubtitle {
    margin-top: 20px;
    text-align: center;
}

.jobWrapper {
    margin: 50px 0px 0px 0px;
    border-top: 3px solid #042349;
    border-bottom: 3px solid #042349;
}

.jobHeader {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

.itemContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

.headerItem {
    flex: 1 1 auto;
    text-align: center;
    padding: auto;
    font-size: 36px;
}

.headerItem + .headerItem {
    border-left: solid 3px #042349;
}

.chev {
    display: var(--disp);
    height: 40px;
    width: 40px;
}

.expandedWrapper {
    display: var(--disp);
    flex-direction: column;
}

.description {
    font-size: 28px;
    padding: 20px;
}

.bulletWrapper {
    padding: 0px 40px 40px 40px;
}

.bulletTitle {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.bullet {
    font-size: 22px;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-left: 3px solid #042349;
}

@media screen and (max-width: 1000px) {
    
    .wrapper {
        margin: 5vw;
        padding-top: 40px;
    }
    
    .mainTitle {
        font-size: 8vw;
    }

    .mainSubtitle {
        font-size: 5vw;
        font-weight: 500;
    }

    .headerItem {
        font-size: 4vw;
    }

    .chev {
        display: var(--disp);
        height: 20vw;
        width: 20vw;
    }

    .itemContainer {
        flex-direction: column;
    }

    .headerItem {
        font-size: 6vw;
    }

    .headerItem + .headerItem {
        border: none;
    }

    .description {
        font-size: 5vw;
    }

    .bulletTitle {
        font-size: 6vw;
    }

    .bullet {
        font-size: 4.5vw;
    }

}