.wrapper {
    margin: 100px;
    display: flex;
    flex-direction: column;
    color: #042349;
    align-items: center;
    justify-content: center;
}

.title {
    margin: 20px;
    font-size: 36px;
}

.link {
    text-decoration: underline;
}